@import "src/styles";

.card:hover {
	cursor: pointer;
}

.backlog{
	background-color: rgba(theme-color(backlogSubTask),0.15);
}
.backlog:hover{
	background-color: rgba(theme-color(backlogSubTask),0.45);
}

.running{
	background-color: rgba(theme-color(runningSubTask),0.15);
}
.running:hover{
	background-color: rgba(theme-color(runningSubTask),0.45);
}

.finished{
	background-color: rgba(theme-color(finishedSubTask),0.15);
}
.finished:hover{
	background-color: rgba(theme-color(finishedSubTask),0.45);
}

.stateArrow{
	height: .5rem;
	width: .5rem;
}
