.card-text{
	overflow: hidden;
	height: 5rem;
}
.card{
	height: 10rem;
}

.card:hover {
	border-width: 0.15rem;
}

.task-backlog{
	background-color: rgba(var(--backlog),0.15);
}

.task-running{
	background-color: rgba(var(--running),0.15);
}

.task-finished{
	background-color: rgba(var(--finished),0.65);
}
