<div>
	<div class="jumbotron">
		<button type="button" class="close" aria-label="Close" [routerLink]="['/home','def']" >
			<span aria-hidden="true">&times;</span>
		</button>
		<h1 class="display-3">{{projectName}}</h1>
		<div class="d-flex flex-column">
			<div class="d-flex flex-row">
				<div class="p-2">ID: </div>
				<div class="p-2">{{projectID}}</div>
			</div>
			<div class="d-flex flex-row">
				<div class="p-2">Creator: </div>
				<div class="p-2">{{projectCreator}}</div>
			</div>
			<div class="d-flex flex-row">
				<div class="p-2">Description: </div>
				<div class="p-2">{{projectDesc}}</div>
			</div>
			<div class="d-flex flex-row">
				<div class="p-2">Status: </div>
				<div class="p-2">{{projectStatus}}</div>
			</div>
		</div>
		<p>posible stats like: current amount of involved persons, workload,progres...</p>
	</div>

	<div class="card-body">
		<h5 class="card-title">taskname <span class="id" style="float: right;"> task-id </span></h5>
		<div class="projectCreator border-top" style="margin-bottom: 0.5rem">task-creator</div>
		<p class="card-text " style="overflow: hidden; height: 8.5rem">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
			magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
			gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr
		</p>
	</div>
</div>
