@import "src/styles";

.tasks{
	margin: 1rem;
}

/*
	The following classes are for the background of the sub task info
	0 = backlog task
	1 = running task
	2 = finished task
*/
.state-0{
	background: rgba(theme-color(backlogSubTask),0.15);
}

.state-1{
	background: rgba(theme-color(runningSubTask),0.15);
}

.state-2{
	background: rgba(theme-color(finishedSubTask),0.15);
}
