@import "src/styles";

.tasks{
	margin: 1rem;
}
.projectContainer{
	margin-right: .25rem;
	margin-left: .25rem;
}
.add-button-container{
	height: 1.2rem;
	width: 1.2rem;
	display: inline-block;
	float: right;
}

.subTask{
	min-height: 55vh;
}

.state-backlog{
	background: rgba(theme-color(backlogSubTask),0.15);
}

.state-running{
	background: rgba(theme-color(runningSubTask),0.15);
}

.state-finished{
	background: rgba(theme-color(finishedSubTask),0.15);
}

.edit-button{
	height:1.1rem;
	opacity:70%;
	-webkit-opacity:70%
}

.edit-button:hover{
	-webkit-backface-visibility: hidden;
	cursor:pointer;
	opacity:100%;
	-webkit-opacity:100%
}

.state-select{
	max-width: 10%;
	min-width: 3rem;
}

.member-list{
	padding-left: 0 !important;
}
