.add-button {
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    color: lightgrey;
}

.add-button:hover {
    color: lightslategray;
}

.login {
    text-decoration-line: underline;
    color: blue;
}

#login:hover {
    cursor: pointer;
}
