@import "../home/home.component.css";
$pausedProjects: #ffe53c;
$runningProjects: #0036d9;
$finishedProjects: #83ff79;
.card:hover {
	border-width: 0.15rem;
}

.card{
	border-left-width: 0.15rem;
}
.running{
	border-left-color: rgba($runningProjects,0.6);
}

.paused{
	border-left-color: rgba($pausedProjects,0.6);
}

.finished{
	border-left-color: rgba($finishedProjects,0.6);
}

.running:hover{
	background: rgba($runningProjects,0.1);
}

.paused:hover{
	background: rgba($pausedProjects,0.1);
}

.finished:hover{
	background: rgba($finishedProjects,0.1);
}

.id {
	float: right;
    color: #808080;
    font-size: 10pt;
}

.card-text{
	overflow: hidden;
	height: 8.5rem;
}

.projectCreator {
    color: grey;
    font-size: 10pt;
    font-style: italic;
}

a{
	width:100% !important;
	height:100% !important;
	display:block !important;
	text-decoration: none !important;
	color: inherit !important;
}
