<div class="card p-2" style="width: 18rem; height: 16rem; margin: 0.5rem;">
	<div class="card-body">
		<h5 class="card-title">{{project.name}} <span class="id" style="float: right;"> {{project.id}} </span></h5>
		<div class="projectCreator border-top" style="margin-bottom: 0.5rem">{{project.creator}}</div>
		<p class="card-text " style="overflow: hidden; height: 5.5rem">
			{{project.description}}
		</p>
		<a href="#" class="btn btn-outline-success my-2 my-sm-0" type="submit">Go somewhere</a>
		<!-- Whole Project-Card will be clickable, then this btn will get removed -->
	</div>
</div>
