<div *ngIf="running==project.running.toString()||running=='def'" class="card p-2" style="width: 18rem; height: 16rem; margin: 0.5rem;">
	<a [routerLink]="['/projectView',project.id,project.name,project.description,project.creator,project.running]" routerLinkActive="router-link-active" >
	<div class="card-body">
		<h5 class="card-title">{{project.name}} <span class="id" style="float: right;"> {{project.id}} </span></h5>
		<div class="projectCreator border-top" style="margin-bottom: 0.5rem">{{project.creator}}</div>
		<p class="card-text">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
			magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
			gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr
		</p>
	</div>
	</a>
</div>
