<div *ngIf="running==project.running.toString()||running=='def'" class="card p-2" style="width: 18rem; height: 16rem; margin: 0.5rem;">
	<a href="{{project.id}}">
	<div class="card-body">
		<h5 class="card-title">{{project.name}} <span class="id" style="float: right;"> {{project.id}} </span></h5>
		<div class="projectCreator border-top" style="margin-bottom: 0.5rem">{{project.creator}}</div>
		<p class="card-text " style="overflow: hidden; height: 8.5rem">
			{{project.description}}
		</p>
	</div>
	</a>
</div>
